<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<connectionStrings>
		<add name="AWSDB" connectionString="Data Source=.\Data\AWS.db;initial catalog=main;Version=3;" providerName="System.Data.SqlClient" />
		<add name="AWSMYSQL" connectionString="Data Source=39.108.102.49;port=3307;initial catalog=aws;userid=root;password=123456" />
	</connectionStrings>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<log4net>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<!--定义文件存放位置-->
			<file value="Logs/LPR/" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<datePattern value="yyyyMMdd'.txt'" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date - [%p] - %message %newline" />
			</layout>
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="RollingFileAppender" />
		</root>
	</log4net>
	<appSettings>
    <add key="FuzzyMatching" value="0" />
    <add key="FuzzyPlateNo" value="渝G5XB28" />
    <add key="Camera1Enable" value="1" />
    <add key="Camera2Enable" value="1" />
    <add key="Camera1GPIO" value="1" />
    <add key="Camera1IP" value="192.168.1.63" />
    <add key="Camera2IP" value="192.168.1.63" />
    <add key="Camera1Username" value="admin" />
    <add key="Camera1Password" value="admin" />
    <add key="Camera2Username" value="admin" />
    <add key="Camera2Password" value="admin" />
    <add key="Camera1LEDEnable" value="1" />
    <add key="Camera2LEDEnable" value="1" />
    <add key="CameraLEDMode" value="1" />
    <add key="RF1Enable" value="0" />
    <add key="RF2Enable" value="0" />
    <add key="RF1Uart" value="COM6" />
    <add key="RF2Uart" value="COM2" />
    <add key="RF3Enable" value="0" />
    <add key="RF4Enable" value="0" />
    <add key="RF3IP" value="192.168.0.60" />
    <add key="RF4IP" value="192.168.1.112" />
    <add key="RelayEnable" value="0" />
    <add key="RelayUart" value="COM7" />
    <add key="Relay2Enable" value="0" />
    <add key="Relay2IP" value="192.168.1.93" />
	<add key="Relay2Mac" value="4E:22:07:27:44:16" />
	<add key="Relay2Mask" value="255.255.255.0" />
	<add key="Relay2Gateway" value="192.168.1.1" />
    <!--<add key="Plate2Enable" value="0" />是相机开闸功能-->
    <add key="Plate2Enable" value="1" />
		<add key="LPRSavePath" value="D:\media\pic" />

    <!--<add key="SelectedController" value="道通物联"/>-->
    <add key="SelectedController" value="方控" />
    <!--新增平台称重开关，启用则需要调用接口判断车牌号是否能称重 阿吉 2023年6月15日08点55分 -->
    <add key="Enable_Shandong_Boxing_Platform" value="False" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
